// COLORS
$color-primary-light: #8b8c5a;
$color-primary: #182526;
$color-secondary: #c5b9b9;
$color-dark: #5b5656;
$color-pink: #f2a7a7;
$color-pink-dark: #8c3a3a;
$color-lavander: #d8a3d9;
$color-lavander-light: #f2c9e4;
$color-blue: #043e42;
$color-blue-light: #d5e5f2;
$color-brown: #a6866a;
$color-white: #f5eaea;

//FONT SIZE
$font-default: 1.8rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
