// COLORS
$color-primary-light: #7fcd91;
$color-primary: #2aaa7d;
$color-secondary: #c5b9b9;
$color-dark: #5b5656;
$color-pink: #e07aa3;
$color-brown: #a6866a;
$color-white: #f5eaea;

//FONT SIZE
$font-default: 1.8rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
